$white: #fff;
$black: #000;
$red: #f00;
$green: #0f0;

$redLight: #ff4040;
$redHover: #ee7070;
$redDark: #a80d0d;

$greenLight: #40ff40;
$greenHover: #70ee70;
$greenDark: #0da80d;

$primary: #057409;
$primaryLight: #ffa640;
$primaryHover: #fac219;
$prilaryDark: #a8600d;

$background: #f5f5f5;

$secondary: #5b1073;
$secondaryLight: #5b107355;
$secondaryHover: #0abcbf;
$secondaryDark: #0d6da8;

$terciary: #a8600d;
$terciaryLight: #ff40c0;
$terciaryHover: #bf7e06;
$terciaryDark: #a80d6d;

$desktop: 1440px;
$tablette: 1024px;
$mobile: 768px;
$maxWidth: 1200px;

.primary_button {
  width: 11rem;
  height: 3.8rem;
  background: #ed5466;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.8rem;
  border-radius: 0.8rem;
  color: #fff;

  &:hover {
    background: #f26777;
    cursor: pointer;
  }
}
